{% import '@XutimCore/admin/common/badges.html.twig' as badges %}
{%
    set translation = snippet.translationByLocaleOrAny(content_context_language())
%}
<tr data-controller="translation-row">
    {%
        if is_granted(constant('Xutim\\SecurityBundle\\Security\\UserRoles::ROLE_ADMIN'))
    %}
        <td class="w-1">
            <twig:Xutim:Admin:ModalDialog
                class="text-danger btn ps-1 pe-0 btn-link"
                data-turbo-frame="_top"
                modalDialogColor="danger"
                action="{{ admin_path('admin_snippet_delete', {id: snippet.id}) }}"
                confirmActionLabel="{{ 'action.delete'|trans({}, 'admin')|capitalize }}"
            >
                <twig:Xutim:Admin:Icon name="trash" />
            </twig:Xutim:Admin:ModalDialog>
        </td>
    {% endif %}

    <td class="w-1">
        <twig:Xutim:Admin:Badge>{{
            snippet.category.value
        }}</twig:Xutim:Admin:Badge>
    </td>

    <td>
        <twig:Xutim:Admin:Button
            tag="a"
            variant="link"
            href="{{ admin_path('admin_snippet_edit', {id: snippet.id}) }}"
            data-turbo-frame="modal"
        >
            {{ snippet.code }}
        </twig:Xutim:Admin:Button>

        <p
            class="text-wrap mt-2"
            style="max-width: 200px"
            title="{{ snippet.description }}"
            data-controller="tooltip"
        >
            {{ snippet.description }}
        </p>
    </td>

    {% for locale in visibleLanguages %}
        {% set trans = snippet.translationByLocale(locale) %}
        <td>
            <div class="mb-1">
                <textarea
                    rows="3"
                    class="p-2 form-control form-control-sm w-100"
                    data-snippet-editor-target="input"
                    data-action="blur->snippet-editor#save"
                    data-snippet-id="{{ snippet.id }}"
                    data-locale="{{ locale }}"
                    data-token="{{ csrf_token('translate_snippet_' ~ snippet.id ~ '_' ~ locale) }}"
                    {{ canTranslateLocales[locale] ? '' : 'disabled' }}
                >{{ trans.content ?? '' }}</textarea>
            </div>
        </td>
    {% endfor %}
</tr>
