{% extends '@XutimCore/admin/modalBase.html.twig' %}
{% set title = 'Edit snippet'|trans({}, 'admin') %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ title }}</h3>
        </div>
        <div class="card-body">
            {{ include('@XutimSnippet/admin/snippet/_form.html.twig') }}
        </div>
        {% if is_granted(constant('Xutim\\SecurityBundle\\Security\\UserRoles::ROLE_ADMIN')) %}
            <div class="card-footer d-flex justify-content-end">
                <twig:Xutim:Admin:ModalDialog
                    class="btn btn-sm btn-outline-danger"
                    data-turbo-frame="_top"
                    modalDialogColor="danger"
                    action="{{ admin_path('admin_snippet_delete', {id: snippet.id}) }}"
                    confirmActionLabel="{{ 'action.delete'|trans({}, 'admin')|capitalize }}"
                >
                    <twig:Xutim:Admin:Icon name="trash" />
                    {{ 'Delete snippet'|trans({}, 'admin') }}
                </twig:Xutim:Admin:ModalDialog>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block stream_success %}
    <turbo-stream action="refresh"></turbo-stream>
{% endblock %}
