<!DOCTYPE html>

<title>Snippet</title>

{% block body %}
    <h1>Snippet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ snippet.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ snippet.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ admin_path('app_snippet_index') }}">back to list</a>

    <a href="{{ admin_path('app_snippet_edit', {id: snippet.id}) }}">edit</a>

    {{ include('@XutimSnippet/admin/snippet/_delete_form.html.twig') }}
{% endblock %}
