{% extends '@XutimCore/admin/base.html.twig' %}

{% block pageTitle %}{{ 'snippets'|trans({}, 'admin')|capitalize }}{%
    endblock
%}

{% block pageMenu %}
    {%
        if is_granted(constant('Xutim\\SecurityBundle\\Security\\UserRoles::ROLE_EDITOR'))
    %}
        <twig:Xutim:Admin:Button
            tag="a"
            variant="nav"
            data-turbo-frame="modal"
            href="{{ admin_path('admin_snippet_new') }}"
        >
            <twig:Xutim:Admin:Icon name="text" />
            {{ 'New snippet'|trans({}, 'admin') }}
        </twig:Xutim:Admin:Button>
    {% endif %}
{% endblock %}

{% block breadcrumbHeader %}
    <twig:Xutim:Admin:Breadcrumbs>
        <li class="breadcrumb-item">Snippets</li>
    </twig:Xutim:Admin:Breadcrumbs>
{% endblock %}

{% block body %}
    {%
        component 'Xutim:Admin:DataTable' with {
            frameId: 'snippet-list',
            pager: snippets,
            filter: filter,
            'data-controller': 'snippet-editor',
            'data-snippet-editor-url-value': admin_path('admin_json_snippet_translate'),

        }
    %}
    {% block header %}
        {% import '@XutimCore/admin/common/icons.html.twig' as icons %}

        {%
            if is_granted(constant('Xutim\\SecurityBundle\\Security\\UserRoles::ROLE_ADMIN'))
        %}
            <th class="w-1 text-end">A</th>
        {% endif %}
        <th>
            <a href="{{ admin_filter_order_path_with('code', filter) }}">
                {{ 'code'|trans({}, 'admin') }}
                {{
                    icons.order_arrow('code', filter.orderColumn, filter.orderDirection)
                }}
            </a>
        </th>
        <th>
            <a href="{{ admin_filter_order_path_with('category', filter) }}">
                {{ 'category'|trans({}, 'admin') }}
                {{
                    icons.order_arrow('category', filter.orderColumn, filter.orderDirection)
                }}
            </a>
        </th>
        <th class="w-1">
            {{ 'description'|trans({}, 'admin') }}
        </th>
        {% for locale in site_context.locales %}
            <th>{{ locale|upper }}</th>
        {% endfor %}
    {% endblock %}

    {% block body %}
        {% import '@XutimCore/admin/common/badges.html.twig' as badges %}
        {% for snippet in snippets %}
            {{
                include('@XutimSnippet/admin/snippet/_snippet_row.html.twig', {snippet: snippet})
            }}
        {% endfor %}
    {% endblock %}
    {% endcomponent %}
{% endblock %}
