{% set containerClass = 'container-expanded' %}
{% extends '@XutimCore/admin/base.html.twig' %}
{% block pageTitle %}{{ 'snippets'|trans({}, 'admin')|capitalize }}{%
    endblock
%}

{% block pageMenu %}
    {%
        if is_granted(constant('Xutim\\SecurityBundle\\Security\\UserRoles::ROLE_EDITOR'))
    %}
        <twig:Xutim:Admin:Button
            tag="a"
            variant="nav"
            data-turbo-frame="modal"
            href="{{ admin_path('admin_snippet_new') }}"
        >
            <twig:Xutim:Admin:Icon name="text" />
            {{ 'New snippet'|trans({}, 'admin') }}
        </twig:Xutim:Admin:Button>
    {% endif %}
{% endblock %}

{% block breadcrumbHeader %}
    <twig:Xutim:Admin:Breadcrumbs>
        <li class="breadcrumb-item">Snippets</li>
    </twig:Xutim:Admin:Breadcrumbs>
{% endblock %}

{% block body %}
    {% set mainLanguages = site_context.locales|sort((loc1, loc2) => loc1 <=> loc2) %}
    {% set extendedLanguages = site_context.extendedContentLocales|sort((loc1, loc2) => loc1 <=> loc2) %}

    {% set localeFilterOptions = [] %}
    {% for locale in site_context.allLocales %}
        {% set localeFilterOptions = localeFilterOptions|merge([{label: locale|upper, value: locale}]) %}
    {% endfor %}

    {% set columnVisibilityOptions = [] %}
    {% for locale in mainLanguages %}
        {% set columnVisibilityOptions = columnVisibilityOptions|merge([{label: locale|upper, value: locale, checked: true}]) %}
    {% endfor %}
    {% if extendedLanguages is not empty %}
        {% set columnVisibilityOptions = columnVisibilityOptions|merge([{separator: true}]) %}
        {% for locale in extendedLanguages %}
            {% set columnVisibilityOptions = columnVisibilityOptions|merge([{label: locale|upper, value: locale, checked: false}]) %}
        {% endfor %}
    {% endif %}

    {%
        component 'Xutim:Admin:DataTable' with {
            frameId: 'snippet-list',
            pager: snippets,
            filter: filter,
            'data-controller': 'snippet-editor',
            'data-snippet-editor-url-value': admin_path('admin_json_snippet_translate'),
            responsive: false,
            showChips: true,
            filters: [
                {
                    key: 'notTranslatedInLocales',
                    label: 'Not translated in'|trans({}, 'admin'),
                    type: 'multiselect',
                    chipLabel: 'Missing translations'|trans({}, 'admin'),
                    options: localeFilterOptions,
                    minWidth: '250px',
                },
                {
                    key: 'showLanguages',
                    label: 'Show languages'|trans({}, 'admin'),
                    type: 'columnVisibility',
                    chipLabel: 'Languages'|trans({}, 'admin'),
                    options: columnVisibilityOptions,
                    minWidth: '200px',
                },
            ],
        }
    %}

    {% block body %}
        {% import '@XutimCore/admin/common/icons.html.twig' as icons %}

        {%
            if is_granted(constant('Xutim\\SecurityBundle\\Security\\UserRoles::ROLE_ADMIN'))
        %}
            <th class="w-1 text-end"></th>
        {% endif %}
        <th>
            <a href="{{ admin_filter_order_path_with('category', filter) }}">
                {{ 'category'|trans({}, 'admin') }}
                {{
                    icons.order_arrow('category', filter.orderColumn, filter.orderDirection)
                }}
            </a>
        </th>
        <th>
            <a href="{{ admin_filter_order_path_with('code', filter) }}">
                {{ 'code'|trans({}, 'admin') }}
                {{
                    icons.order_arrow('code', filter.orderColumn, filter.orderDirection)
                }}
            </a>
        </th>

        {% for locale in visibleLanguages %}
            <th>{{ locale|upper }}</th>
        {% endfor %}

        {% set canTranslateLocales = {} %}
        {% for locale in visibleLanguages %}
            {%
                set canTranslateLocales = canTranslateLocales|merge({(locale): is_granted(constant('Xutim\\SecurityBundle\\Security\\Voter\\CanTranslateVoter::TRANSLATE'), locale)})
            %}
        {% endfor %}

        {% for snippet in snippets %}
            {{
                include('@XutimSnippet/admin/snippet/_snippet_row.html.twig', {snippet: snippet, canTranslateLocales: canTranslateLocales, visibleLanguages: visibleLanguages}, with_context: false)
            }}
        {% endfor %}
    {% endblock %}
    {% endcomponent %}
{% endblock %}
